# 1강

기본적인 파이썬 문법(나는 jupyter notebook으로 진행)<br>
‘’’: 여러 줄 주석처리<br>
type: 변수의 타입을 표출<br>
sep: 변수 사이의공간을 이걸로 채워라(sep = ‘/n  줄바꿈의 의미)<br>
print(a): 자체적으로 줄바꿈 기능이 있음 없애려면 end = ‘ ’

In [17]:
'''
여러 줄 주석
정규형 재취준 기원
머리가 띵
오윤택님 감사합니다

'''

'\n여러 줄 주석\n정규형 재취준 기원\n머리가 띵\n오윤택님 감사합니다\n\n'

In [18]:
a= 123
type(a)
b='1234'
type(b)
c= 5

In [19]:
print('number :', a, b, c)

number : 123 1234 5

In [20]:
print(a, b, c,sep=', ')

123, 1234, 5

In [21]:
print(a,b,c,sep='\n')

123
1234
5

In [22]:
print(a, end=' ')
print(b)
print(c)

123 1234
5

# 2강

a = input(‘숫자를 입력하세요: ‘)<br>
print(a): 프롬프트에 입력한 대로 출력<br>
.split() : 숫자를 각 변수에 분리해줌 -> 문자형으로 분리됨<br>
map: 위 과정을 매핑해줄 수 있음(map(int, input(‘나이를 입력해주세요: ’).split())<br>
//: 몫을 구해라<br>
%: 나머지를 구해라<br>
**: 거듭제곱

In [23]:
a = input('나이를 입력하세요: ')
print(a)

나이를 입력하세요: 20
20

In [25]:
a, b = input('나이를 입력하세요: ').split()

나이를 입력하세요: 20 21

In [27]:
print(a,b, sep=', ')

20, 21

In [28]:
type(a)

str

In [29]:
a = int(a)
b = int(b)
a+b

41

In [32]:
a,b = map(int, input('점수를 입력해주세요: ').split())

점수를 입력해주세요: 40 80

In [35]:
print(a+b)
print(b//a)

120
2

# 3강

if문<br>
파이썬에서는 0<x<10으로 처리 가능<br>

In [81]:
x = 5
if 0<x<10:
    print('10보다 작은 자연수')

10보다 작은 자연수

# 4강

range(10): 0부터10까지 정수리스트를 만듦<br>
range(a,b): a부터 b-1까지<br>
range(10, 0, -1): 10부터 1까지 1씩 작아지는 형태(마지막 인자는 step역할<br>
while문<br>
while True: 무한 반복문<br>
i = i+1 == i += 1(반복문 내에서만)<br>
break: 반복문 멈추기<br>
continue: 반복문 내에서 밑에 조건들을 실행시키지 말고 넘어가라<br>
for, else구문: for문이 break당하지 않았을 때만 else를 실행시킴<br>

In [38]:
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
b = range(1,11)
print(list(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
c = range(10, 0, -1)
print(list(c))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
d = range(0,21,2)
print(list(d))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
i  = 1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [45]:
i = 10
while i >=1:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [51]:
i = 1
i+1
# i+=1: 반복문 안에서만 유효

2

In [52]:
i = 1
while True:
    print(i)
    if i == 5:
        break
    i+=1

1
2
3
4
5

In [53]:
for i in range(11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [55]:
for i in range(1, 11):
    print(i)
    if i >=5:
        break
else:
    print(i)

1
2
3
4
5

# 5강

### 1부터 N까지 홀수 출력

In [61]:
N = int(input())
for i in range(1, N+1):
    if i%2 == 0:
        continue
    print(i)

21
1
3
5
7
9
11
13
15
17
19
21

### 1부터 N까지의 합 구하기

In [64]:
N = int(input())
hap = 0
for i in range(1, N+1):
    if i%2 == 0:
        continue
    hap = hap+i
print(hap)

57
841

### N의 약수 출력하기

In [68]:
N = int(input())
for i in range(1, N+1):
    if N%i == 0:
        print(i, end = ' ')

64
1 2 4 8 16 32 64

# 6강

In [74]:
for i in range(5):
    print('i : ', i,  sep = ' ', end = ' ')
    for j in range(5):
        print('j : ', j, sep= ' ', end = ' ')
    print()

i :  0 j :  0 j :  1 j :  2 j :  3 j :  4
i :  1 j :  0 j :  1 j :  2 j :  3 j :  4
i :  2 j :  0 j :  1 j :  2 j :  3 j :  4
i :  3 j :  0 j :  1 j :  2 j :  3 j :  4
i :  4 j :  0 j :  1 j :  2 j :  3 j :  4

In [78]:
for i in range(5):
    for j in range(i+1):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [80]:
for i in range(5):
    for j in range(5-i):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

# 7장

upper: 대문자, lower: 소문자<br>

In [82]:
msg = 'It is Time'

In [84]:
print(msg.upper())
print(msg.lower())

IT IS TIME
it is time

find: 문자열의 가장 우선 문자의 인덱스 번호를 알려줌 
count: 특정 문자가 몇번 나왔는지

In [85]:
tmp = msg.upper()
tmp.find('T')

1

In [86]:
tmp.count('T')

2

In [88]:
tmp[:2] # 0~1까지

'IT'

In [89]:
print(tmp[3:5])

IS

문자열의 공백도 길이에 포함

In [90]:
len(tmp)

10

In [92]:
for i in range(len(msg)):
    print(msg[i], end=' ')

I t   i s   T i m e

for문에서 변수 x: 문자열의 문자 하나하나를 지칭

In [93]:
for x in msg:
    print(x, end = ' ')

I t   i s   T i m e

.isupper(): 대문자면 true, .islower(): 소문자면 true<br>
.isalpha(): 알파벳이면 true

In [94]:
for x in msg:
    if x.isupper():
        print(x, end = ' ')

I T

In [95]:
for x in msg:
    if x.islower():
        print(x, end= ' ')

t i s i m e

In [96]:
for x in msg:
    if x.isalpha():
        print(x, end= ' ')

I t i s T i m e

ord(x): 문자열의 아스키넘버를 출력<br>
A = 65 ~ Z = 90<br>
a = 97 ~ z = 122<br>
chr(x): 해당 아스키넘버의 문자를 출력

In [97]:
tmp = 'AZ'
for x in tmp:
    print(ord(x))

65
90

In [98]:
tmp = 'az'
for x in tmp:
    print(ord(x))

97
122

In [99]:
tmp = 66
print(chr(tmp))

B

# 8강

In [100]:
import random as r

In [107]:
a = list()
a

[]

In [118]:
a = list(range(1,11))
b = [1,2,3,4,5]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [119]:
b.append(6)
b

[1, 2, 3, 4, 5, 6]

a.insert(3,7): 리스트의 3번 인덱스에 7이라는 숫자를 추가

In [120]:
b.insert(3,7)
b

[1, 2, 3, 7, 4, 5, 6]

a.pop(): 맨 끝 리스트 인덱스를 제거

In [121]:
b.pop()
b

[1, 2, 3, 7, 4, 5]

In [122]:
b.pop(3)
b

[1, 2, 3, 4, 5]

a.remove(4): 리스트에서 4라는 값을 지운다

In [124]:
b.remove(4)
b

[1, 2, 3, 5]

a.index(5): 리스트에서 5의 인덱스 넘버를 도출

In [125]:
b.index(5)

3

r.shuffle: 리스트의 요소들을 랜덤하게 섞음<br>
a.sort(): 오름차순 정렬<br>
a.sort(reverse=True): 내림차순 정렬<br>
a.clear(): 빈 리스트로 만듦

In [126]:
a = list(range(1,11))
r.shuffle(a)
a

[6, 8, 9, 2, 1, 4, 10, 3, 5, 7]

In [128]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
a.sort(reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [130]:
a.clear()
a

[]

enumerate(a): (인덱스 넘버, 해당 숫자)

In [131]:
a = [23,45,36,17,85]
for x in enumerate(a):
    print(x)

(0, 23)
(1, 45)
(2, 36)
(3, 17)
(4, 85)

소괄호면 tuple<br>
list는 값을 변경할 수 있지만 tuple은 값을 변경할 수 없다

In [132]:
for x in enumerate(a):
    print(x[0], x[1])

0 23
1 45
2 36
3 17
4 85

In [133]:
for index, value in enumerate(a):
    print(index, value)

0 23
1 45
2 36
3 17
4 85

all: 모든 조건이 참이어야 true<br>
any: 조건 중 하나라도 참이 있으면 true

In [136]:
if all(x<90 for x in a):
    print('Yes')
else:
    print('No')

Yes

In [137]:
if all(x<80 for x in a):
    print('Yes')
else:
    print('No')

No

In [138]:
if any(x<70 for x in a):
    print('Yes')
else:
    print('No')

Yes

# 10강

In [140]:
a = [0]*5
a

[0, 0, 0, 0, 0]

2차원 리스트 만들기

In [141]:
a = [[0]*3 for _ in range(3)]
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

### 첫번째 리스트는 첫 행(2차원 리스트는 행렬의 형태)

In [142]:
a[0][1] = 1
a

[[0, 1, 0], [0, 0, 0], [0, 0, 0]]

In [145]:
a[1][1]=2
a

[[0, 1, 0], [0, 2, 0], [0, 0, 0]]

### 행렬의 형태로 보기

In [146]:
for x in a:
    print(x)

[0, 1, 0]
[0, 2, 0]
[0, 0, 0]

In [148]:
for x in a:
    for y in x:
        print(y, end = ' ')
    print()

0 1 0
0 2 0
0 0 0

# 11강

In [149]:
def add(a,b):
    c = a+b
    print(c)
add(3,2)

5

return = print + 함수를 종결하는 역할

In [151]:
def add(a,b):
    c = a+b
    return(c)
add(3,2)

5

In [153]:
def add(a,b):
    c = a+b
    d = a-b
    return(c,d)
add(8,15)

(23, -7)

In [163]:
a = [12,13,7,9,19]
def isPrime(x):
    for i in range(2,x):
        if x%i == 0:
            return False
    return True

In [164]:
for x in a:
    if isPrime(x):
        print(x, end=' ')

13 7 19

# 12강

람다는 주로 sort의 인자로 사용할 때 사용(어떤것을 기준으로 정렬할 것인지)

In [170]:
def plus_one(x):
    return x+1

In [165]:
plus_two = lambda x:x+2
plus_two(1)

3

In [171]:
a = [1,2,3]
print(list(map(plus_one, a)))

[2, 3, 4]

In [172]:
list(map(lambda x:x+1,a))

[2, 3, 4]