# 1. 변수와 출력함수

In [1]:
a = 1
print(a)

1

In [2]:
a, b, c = 3, 2, 1
print(a, b)

3 2

In [3]:
### 값 교환 

a, b = 10, 20 
print(a, b)

a, b = b, a
print(a, b)

10 20
20 10

In [4]:
### 변수 타입 

a = 12345
print(type(a))

a = 12.123456789123456789  # 뒤에 세자리 저장공간 (8byte=64bit 넘어서 반올림)
print(a)
print(type(a))

a = '12345'
print(type(a))

<class 'int'>
12.123456789123457
<class 'float'>
<class 'str'>

In [6]:
### 출력 방식 

print('number')

a, b, c = 1, 2, 3
print(a, b, c)    # 자동 띄어쓰기 

print('number :', a, b, c)

print(a, b, c, sep='')  # separator 지정 
print(a, b, c, sep=', ')
print(a, b, c, sep='\t')
print(a, b, c, sep='\n')

number
1 2 3
number : 1 2 3
123
1, 2, 3
1	2	3
1
2
3

In [7]:
#####
print(a, end=' ')
print(b, end=' ')
print(c)

1 2 3

---

# 2. 변수입력과 연산자

### input( ) 
문자열로 인식

In [16]:
input()

2

'2'

In [14]:
input()

1 2 3 4 5

'1 2 3 4 5'

In [8]:
a = input('숫자를 입력하세요 : ')
print(a)

숫자를 입력하세요 : 5
5

In [9]:
###

a, b = input('숫자를 입력하세요 : ').split()  # 띄어쓰기로 구분하여 입력 

print(a + b)  # 문자열로 입력됨 

print('\n', type(a), type(b))

숫자를 입력하세요 : 2 3
23

 <class 'str'> <class 'str'>

In [10]:
### 

a, b = input('숫자를 입력하세요 : ').split(', ')  # 컴마로 구분하여 입력 

print(a + b) 

c = a+b 
print(c)
print(type(c))

숫자를 입력하세요 : 2, 3
23
23
<class 'str'>

In [11]:
###

a, b = input('숫자를 입력하세요 : ').split()  

a = int(a)   # 정수형 변환 
b = int(b)

print(a+b)

숫자를 입력하세요 : 2 3
5

### split( ) 
문자열을 나누는 함수 > 리스트로 반환

In [15]:
'2 3'.split()

['2', '3']

In [17]:
input('숫자를 입력하세요 : ').split()

숫자를 입력하세요 : 2 3

['2', '3']

In [19]:
##### 

a, b, c = map(int, input('숫자를 입력하세요 : ').split())  

print(a+b+c)

숫자를 입력하세요 : 2 3 5
10

### map(function, iterable)
* 첫 번째 매개변수 : 함수
* 두 번째 매개변수 : 반복 가능한 자료형 (리스트, 튜플 등)  

map 함수의 반환 값은 map객체 이기 때문에 해당 자료형을 **list 혹은 tuple로 형 변환시켜주어야 함**

In [27]:
a, b = map(int, input('숫자를 입력하세요 : ').split())  

print(a+b)
print(a-b)
print(a*b)
print(a/b, '\n')

print(a//b)  # 몫 
print(a%b)   # 나머지 
print(a**b)  # power

숫자를 입력하세요 : 5 2
7
3
10
2.5

2
1
25

In [28]:
a = 4.3 
b = 5
c = a+b 

print(type(c))

<class 'float'>

---

# 3. 조건문 (if문, 다중 if문)

In [29]:
x = 7 

if x==7: 
    print('Lucky!')
    print('Woohyo~')

Lucky!
Woohyo~

In [31]:
x = 15 

if x >= 10: 
    if x%2 == 1: 
        print('10 이상의 홀수')

10 이상의 홀수

In [32]:
### 조건문 여러개 

x = 18 

if x >= 10: 
    if x%2 == 1: 
        print('10 이상의 홀수')
    else: 
        print('10 이상의 짝수')

10 이상의 짝수

In [35]:
x = 8 

if x >= 10: 
    if x%2 == 1: 
        print('10 이상의 홀수')
    else: 
        print('10 이상의 짝수')
else:
    print('해당 없음')

해당 없음

In [33]:
### 조건문 중첩 

x = 9 

if 0 < x < 10 and type(x)==int:
    print('10보다 작은 자연수')

10보다 작은 자연수

In [34]:
### 다중 if문 

x = 10 

if x>0: 
    print('양수')
elif x==0: 
    print('zero')
else:
    print('음수')

양수

In [36]:
x = 87

if x>=90: 
    print('A')
elif x >=80: 
    print('B')
elif x >=70:
    print('C')
elif x >=60:
    print('D')
else:
    print('F')

B

---

# 4. 반복문 (for, while)

In [37]:
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a = range(1, 11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [47]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [41]:
for i in range(10, 0):   # 감소하려면 인자 더 필요함 
    print(i)

In [42]:
#####

for i in range(10, 0, -2):   # 2 간격으로 감소
    print(i)

10
8
6
4
2

In [43]:
i = 1

while i <= 10: 
    print(i) 
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [48]:
i = 10

while i >= 1: 
    print(i) 
    i = i-1

10
9
8
7
6
5
4
3
2
1

### break

In [49]:
i = 1

while True: 
    print(i)
    if i==10:
        break
    i += 1

1
2
3
4
5
6
7
8
9
10

In [51]:
for i in range(1, 11):
    print(i) 
else: 
    print('end')

1
2
3
4
5
6
7
8
9
10
end

In [52]:
for i in range(1, 11):
    print(i) 
    if i==5: 
        break
else: 
    print(11)     # break으로 반복문 탈출하였으므로 실행 X

1
2
3
4
5

### continue

In [53]:
for i in range(1, 11):
    if i%2==0: 
        continue  # 밑에 있는 명령들 실행 안하고 for문으로 돌아감
    print(i)

1
3
5
7
9

---

# 5. 반복문을 이용한 문제 풀이

### 5-1) 1부터 N까지 홀수 출력

In [56]:
n = int(input('N = '))

for i in range(1, n+1):
    if i%2 == 1:
        print(i)

N = 17
1
3
5
7
9
11
13
15
17

### 5-2) 1부터 N까지의 합

In [103]:
n = int(input('N = '))
sm = 0

for i in range(1, n+1):
    sm += i
    
print(sm)

N = 100
5050

### 5-3) N의 약수 출력

In [60]:
n = int(input('N = ')) 

print(str(n)+'의 약수 : ', end='')

for i in range(1, n+1):
    if n%i==0:
        print(i, end=' ')

N = 18
18의 약수 : 1 2 3 6 9 18

---

# 6. 중첩 반복문 (2중 for문)

In [61]:
for i in range(5):
    print('i=', i, sep='', end=' ')
    for j in range(5):
        print('j:', j, sep='', end=' ')
        
    print()   # 줄바꿈

i=0 j:0 j:1 j:2 j:3 j:4
i=1 j:0 j:1 j:2 j:3 j:4
i=2 j:0 j:1 j:2 j:3 j:4
i=3 j:0 j:1 j:2 j:3 j:4
i=4 j:0 j:1 j:2 j:3 j:4

In [117]:
for i in range(5):
    for j in range(i+1):
        print('*', end=' ')
        
    print()   # 줄바꿈

*
* *
* * *
* * * *
* * * * *

In [62]:
for i in range(5, 0, -1):
    for j in range(i):
        print('*', end=' ')
        
    print()

* * * * *
* * * *
* * *
* *
*

In [63]:
for i in range(5):
    for j in range(5-i):
        print('*', end=' ')
        
    print()

* * * * *
* * * *
* * *
* *
*

In [65]:
x = int(input('줄 갯수 :'))

for i in range(x):
    for j in range(x-i):
        print(' ', end=' ')
    for k in range(2*i+1): 
        print('*', end=' ')
    print()

줄 갯수 :10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

---

# 7. 문자열과 내장함수

### .upper( ) / .lower( ) 
모두 대문자 / 소문자로

In [66]:
msg = 'It is Time'

print(msg.upper())   # 문자열 모두 대문자로 / 원본 변경 X 
print(msg.lower())   # 문자열 모두 소문자로 

print(msg)

IT IS TIME
it is time
It is Time

### .find( ) 
해당 문자의 첫 인덱스 반환 

### .count( ) 
해당 문자의 등장 횟수 반환

In [70]:
tmp = msg.upper()

print(tmp)

print(tmp.find('S'))  # 'S'의 첫 인덱스 번호 
print(tmp[4]) 

print(tmp.count('T'))  # 'T'의 등장 횟수

IT IS TIME
4
S
2

In [71]:
print(msg, '\n')

print(msg[:2])
print(msg[3:5])
print(msg[6:])

print(len(msg))

It is Time

It
is
Time
10

In [72]:
for i in range(len(msg)):
    print(msg[i], end=' ')
    
print()

for i in msg:
    print(i, end=' ')

I t   i s   T i m e
I t   i s   T i m e

### .isupper( ) / .islower( ) / .isalpha( ) 
대문자인지 / 소문자인지 / 알파벳인지 (bool)

In [73]:
for i in msg:
    if i.isupper():   # 대문자인지 TF 
        print(i, end=' ')

I T

In [74]:
for i in msg:
    if i.islower():   # 소문자인지 TF 
        print(i, end=' ')

t i s i m e

In [75]:
for i in msg:
    if i.isalpha():   # 알파벳인지 TF 
        print(i, end=' ')

I t i s T i m e

### ord 
문자의 유니코드 값을 돌려주는 함수

In [76]:
tmp = 'azAZ'

for i in tmp:
    print(ord(i))

97
122
65
90

### chr 
ord 함수의 반대

In [77]:
tmp = 65 

print(chr(tmp))

A

---

# 8. 리스트와 내장함수 (1)

In [79]:
# 빈 리스트 
a = []
print(a) 

b = list() 
print(b)

[]
[]

In [82]:
a = [1, 2, 3, 4, 5]
print(a)
print(a[4])

[1, 2, 3, 4, 5]
5

In [85]:
b = list(range(1, 11))
print(b)
print(b[9])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [86]:
c = a+b
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### append( ) / insert( )

In [87]:
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [88]:
a.insert(3, 7)     # 3번 인덱스에 7 삽입 
print(a)

[1, 2, 3, 7, 4, 5, 6]

### pop( ) / remove( ) 
인덱스 원소 제거 / 해당 값 제거

In [89]:
a.pop()   # 맨 뒤 원소 제거 (인덱스 지정하여 제거 가능) 
print(a)

[1, 2, 3, 7, 4, 5]

In [90]:
a.pop(3)  # index 3번 제거 
print(a)

[1, 2, 3, 4, 5]

In [91]:
a.remove(4)
print(a)

[1, 2, 3, 5]

### index( ) 
해당 값의 인덱스 반환

In [93]:
print(a)
print(a.index(5))

[1, 2, 3, 5]
3

### sum( ) 
리스트 원소 합

In [112]:
a = list(range(1, 11))

print(a)
print(sum(a))
print(max(a))
print(min(a), '\n')

print(min(7, 3, 5))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10
1

3

### random.shuffle( ) 
임의로 순서 섞음

In [114]:
import random as r

r.shuffle(a)
print(a)

[8, 9, 6, 3, 5, 4, 7, 10, 1, 2]

### .sort( ) 
정렬 (디폴트는 오름차순)  
reverse = True : 내림차순

In [115]:
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
a.sort(reverse=True) 
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### .clear( ) 
리스트 원소 제거

In [118]:
a.clear() 
print(a)

[]

---

# 9. 리스트와 내장함수 (2)

### Slicing

In [126]:
a = [23, 12, 36, 53, 19]
print(a, '\n')

print(a[:3])
print(a[1:4])
print(len(a))

[23, 12, 36, 53, 19]

[23, 12, 36]
[12, 36, 53]
5

In [124]:
for i in range(len(a)):
    print(a[i], end=' ')
    
print()

for i in a: 
    print(i, end=' ')

23 12 36 53 19
23 12 36 53 19

In [125]:
for i in a: 
    if i%2==1:
        print(i, end=' ')

23 53 19

## enumerate( ) 
**인덱스 번호와 원소 값까지 동시에 접근**  
튜플 형태로 쪼갬

In [128]:
a = [23, 12, 36, 53, 19]
print(a, '\n')

for x in enumerate(a): 
    print(x)

[23, 12, 36, 53, 19]

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [132]:
for x in enumerate(a): 
    print(x[0], x[1])

0 23
1 12
2 36
3 53
4 19

In [134]:
### 가장 많이 사용하는 방식 

for ind, val in enumerate(a):
    print(ind, val)

0 23
1 12
2 36
3 53
4 19

### tuple
튜플의 원소는 변경 불가능

In [130]:
b = (1, 2, 3, 4, 5) 
print(b)
print(b[0])

(1, 2, 3, 4, 5)
1

In [131]:
b[0] = 7   ### 튜플 원소는 변경 불가능

TypeError: 'tuple' object does not support item assignment

### all( ) / any( ) 
모두 참이어야 True / 하나라도 참이면 True

In [135]:
a = [23, 12, 36, 53, 19]
print(a, '\n')

if all(x<60 for x in a): 
    print('YES')
else:
    print('NO')

[23, 12, 36, 53, 19]

YES

In [137]:
if all(x<50 for x in a):   # 모든 조건 만족 X 
    print('YES')
else:
    print('NO')

NO

In [138]:
if any(x>50 for x in a):
    print('YES')
else:
    print('NO')

YES

In [139]:
if any(x>60 for x in a):
    print('YES')
else:
    print('NO')

NO

---

# 10. 2차원 리스트 생성과 접근

In [142]:
a = [0]*3 
print(a)

[0, 0, 0]

### 2차원 리스트 [[ ]] 
표 형태로 접근하는 것이 편함 (행과 열)

In [149]:
a = [ [1,2,3] for _ in range(3) ]

print(a, '\n') 

print(a[0][1])
print(a[1][0])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

2
1

In [151]:
b = [ list(range(i, 2*i)) for i in range(2, 5) ]

print(b, '\n')

print(b[0][1])
print(b[2][3])

[[2, 3], [3, 4, 5], [4, 5, 6, 7]]

3
7

In [193]:
for x in b:
    print(x)

[2, 3]
[3, 4, 5]
[4, 5, 6, 7]

In [194]:
for x in b: 
    for y in x:
        print(y, end=' ')
    print()

2 3
3 4 5
4 5 6 7

## 직접 생각해본 문제 
**길이가 '1부터 N까지 합'인 리스트를 각각 1부터 N 길이의 리스트로 쪼개 2차원 리스트로 만들어보자**  
ex) [1, 2, 3, 4, 5, 6] >> [ [1], [2, 3], [4, 5, 6] ]

In [192]:
sm = int(input('N = '))
print()

c = list(range(1, sum(range(0, sm+1))+1))

print('1부터 N까지 합 리스트 : \n', c, '\n')

d = [ c[sum(range(i+1)):sum(range(i+2))] for i in range(sm) ]
print(d)

N = 5

1부터 N까지 합 리스트 :
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

[[1], [2, 3], [4, 5, 6], [7, 8, 9, 10], [11, 12, 13, 14, 15]]

---
# 11. 함수 만들기

### print 와 return 의 차이

In [2]:
def add(a, b):
    print(a+b)
    
add(3, 2)
add(5, 7)

5
12

In [8]:
def add(a, b):
    print(a+b)
    
x = add(3, 2)
print(x)

5
None

In [9]:
def add(a, b):
    c = a+b
    return c 

x = add(3, 2)
print(x)

5

### 여러 값 return 가능 (튜플 형태)

In [11]:
def add_sub(a, b):
    c = a+b
    d = a-b
    return c, d

print(add_sub(3, 2))

(5, 1)

#### 소수 return하는 함수

In [15]:
def isPrime(x):
    for i in range(2, x):
        if x%i == 0:
            return False
    return True

a = [12, 13, 7, 9, 19]

for y in a:
    if isPrime(y):
        print(y, end=' ')

13 7 19

#### 리스트/튜플을 매개변수로

In [45]:
def isPrime2(x):
    ls = []
    for i in x:
        if any(i%y==0 for y in range(2, i)):
            ls.append(False)
        else:
            ls.append(True)
    return ls

a = [12, 13, 7, 9, 19] 

print(isPrime2(a))

[False, True, True, False, True]

---
# 12. 람다 함수 (표현식) 
익명의 함수 (이름이 없는 함수)

### def 와 비교

In [46]:
def plus_one(x):
    return x+1 

print(plus_one(1))

2

In [49]:
plus_two = lambda x: x+2 

print(plus_two(1))
print(plus_two(0))

3
2

### 내장함수의 인자로 사용

In [51]:
def plus_one(x):
    return x+1 

a = [1,2,3]

print(list(map(plus_one, a)))

[2, 3, 4]

In [52]:
a = [1,2,3]

print(list(map(lambda x: x+1, a)))

[2, 3, 4]

**map** 함수의 인자 (func.) 로 람다 표현식 사용

---